@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")

<div class="jumbotron">
    <h1>Mini Blog</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The World's Best Mini Blog</h2>
        <p>
            This mini blog serves the student as a way of learning how to make web applications.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make your own post</h2>
        <p>Make your own blog posts by clicking the posts tab.</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>